.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
    background: #34495e;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

/* sync status */
.status_good{
	color:#ddd;
}
.kpi_tabv_item {
    /*width: 100%;*/
    /*border: 1px solid #ffffff;*/
    /*box-sizing: border-box;*/
    /*border-radius: 2px;*/
    cursor: pointer;
    text-align: center;
}

.kpi_value {
    color : #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

.webix_dataview_item {

        /*border-right-color: #343a40;*/
        background-color : #6c757d; /* #545f6b;*/
    border-color: #545f6b;
}

.kpi_title {
   /* color: #94A1B3;*/
    color : #fff;
    opacity: 0.8;
    display: block;
}

.homelineStyle {
    background-color:"#f1f1f16b";
}

.homelineStyle .webix_axis_item_x{  
    padding-top: 15px;
    padding-left: 20px;
    text-align: right;
    transform: rotate(50deg);   	
}

.webix_item_tab {
        background: #d0d2d2;
        border: 2px solid #ffff;
}
.webix_all_tabs .webix_item_tab.webix_selected {
    box-shadow: inset 0 -6px #1CA1C1;
    background: #d0d2d2;
    color : #1CA1C1;
}

.webix_all_tabs .webix_item_tab {
        border: 2px solid #ffff;
        color : #131415;
}
.webix_all_tabs .webix_item_tab.webix_selected:focus {
  /*color: #17839d;*/
  box-shadow: inset 0 -6px #17839d;
}
.filt_menu .webix_view{
    background-color: #ECEFF1;
}


.vertical-line{
        display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 0;
        height: 35px;
    }


.webix_tooltip .statTooltip {
	background-color : '#FFFF'
}   



.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}


.info {
                        padding: 6px 8px;
                        font: 14px/16px Arial, Helvetica, sans-serif;
                        background: white;
                        background: rgba(255,255,255,0.8);
                        box-shadow: 0 0 15px rgba(0,0,0,0.2);
                        border-radius: 5px;
                        margin : 100;
			font-size: small;
                }
                .legend {
                        line-height: 18px;
                        color: #555;
                }
                .legend i {
                        width: 18px;
                        height: 18px;
                        float: left;
                        margin-right: 8px;
                        opacity: 0.7;
                }
                .info h4 {
                        margin: 0 0 5px;
                        color: #777;
                }


        .legend ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        clear: both;
                }
                .legend li {
                        display: inline-block;
                        width: 30px;
                        height: 22px;
                }
                .legend .min {
                        float: left;
                        padding-bottom: 5px;
                }
                .legend .max {
                        float: right;
                } 



.acc_butt .webix_button:hover{
        background:#d9f6ff;
        color : #fff;
}


.acc_butt .webix_button{
        color : #fff;
}
.acc_butt .webix_button{
        color : #fff;
}
.footer .webix_template{
        display: table;
        width: 100%;
        .title{
                display:table-cell;
                text-align:center;
                vertical-align:middle;
                font-size:15px;
        }
}
.filter_tooltip .webix_view {

	 background: rgba(0,0,0,0.5);
	 color:#fff;
	 border-radius:5px

}

.margin-zero .ui.card {
    margin: 0 !important;
}
